<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table id="dataTable">
        <thead>
            <tr>
                <th class="resizable">ID</th>
                <th class="resizable">Name</th>
                <th class="resizable">Email</th>
                <th class="resizable">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for element in data %}
            <tr data-id="{{ element.id }}">
                <td>{{ element.id }}</td>
                <td contenteditable="true" class="editable" data-field="name">{{ element.name }}</td>
                <td contenteditable="true" class="editable" data-field="mail">{{ element.mail }}</td>
                <td contenteditable="true" class="editable" data-field="rating">{{ element.rating }}</td>
                <td><button class="deleteRow">Удалить</button></td> 
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <button id="addRow">Добавить строку</button>
    <button id="applyChanges">Применить</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#addRow').on('click', function() {
                var lastId = parseInt($('#dataTable tbody tr:last').data('id')) || 0;
                var newRowId = lastId + 1;
                var newRow = '<tr data-id="' + newRowId + '"><td>' + newRowId + '</td><td contenteditable="true" class="editable" data-field="name"></td><td contenteditable="true" class="editable" data-field="mail"></td><td contenteditable="true" class="editable" data-field="rating"></td></tr>';
                $('#dataTable tbody').append(newRow);
            });

            $('#applyChanges').on('click', function() {
                var dataToUpdate = [];
                $('#dataTable tbody tr').each(function() {
                    var id = $(this).data('id') || null;
                    var name = $(this).find('[data-field="name"]').text();
                    var mail = $(this).find('[data-field="mail"]').text();
                    var rating = $(this).find('[data-field="rating"]').text();
                    dataToUpdate.push({ id: id, name: name, mail: mail, rating: rating });
                });

                $.ajax({
                    url: '/update',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(dataToUpdate),
                    success: function(response) {
                        alert('Изменения сохранены');
                    }
                });
            });
        });

        $(document).on('click', '.deleteRow', function() {
            var row = $(this).closest('tr'); 
            var id = row.data('id'); 
            $.ajax({
                url: '/delete/' + id, 
                method: 'DELETE',
                success: function(response) {
                    row.remove(); 
                    alert('Строка удалена');
                }
            });
        });

    </script>
</body>
</html>
